{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% endblock %}

{% block main %}
  {% include 'broadview/featurepanel/_form.html' %}
  <script>
    $( document ).ready(function() {
        $("#None").removeClass("static_page")
        $("div").removeClass("col-sm-6")
    });
    $( "#id_switch" ).change(function() {
        var sw = $( "#id_switch" ).val(); 
        x = sw.split(" ")
        addr = x[0].split(":")
        host = addr[0]
        port = addr[1]
        {% for x in bst_switches %}
            if ("{{x.host}}" == host && "{{x.port}}" == port) {
                {% if x.track_peak_stats != None %}
                    $("#id_track_peak_stats").val(({{x.track_peak_stats}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.track_ingress_port_priority_group != None %}
                    $("#id_track_ingress_port_priority_group").val(({{x.track_ingress_port_priority_group}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.track_ingress_port_service_pool != None %}
                    $("#id_track_ingress_port_service_pool").val(({{x.track_ingress_port_service_pool}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.track_ingress_service_pool != None %}
                    $("#id_track_ingress_service_pool").val(({{x.track_ingress_service_pool}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.track_egress_port_service_pool != None %}
                    $("#id_track_egress_port_service_pool").val(({{x.track_egress_port_service_pool}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.track_egress_service_pool != None %}
                    $("#id_track_egress_service_pool").val(({{x.track_egress_service_pool}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.track_egress_uc_queue != None %}
                    $("#id_track_egress_uc_queue").val(({{x.track_egress_uc_queue}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.track_egress_uc_queue_group != None %}
                    $("#id_track_egress_uc_queue_group").val(({{x.track_egress_uc_queue_group}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.track_egress_mc_queue != None %}
                    $("#id_track_egress_mc_queue").val(({{x.track_egress_mc_queue}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.track_egress_cpu_queue != None %}
                    $("#id_track_egress_cpu_queue").val(({{x.track_egress_cpu_queue}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.track_egress_rqe_queue != None %}
                    $("#id_track_egress_rqe_queue").val(({{x.track_egress_rqe_queue}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.track_device != None %}
                    $("#id_track_device").val(({{x.track_device}} == 1 ? "yes" : "no")).change()
                {% endif %}
            }
        {% endfor %}
    });
  </script>
{% endblock %}
