{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% endblock %}

{% block main %}
  {% include 'broadview/featurepanel/_form.html' %}
  <script>
    $( document ).ready(function() {
        $("#None").removeClass("static_page")
        $("div").removeClass("col-sm-6")
    });
    $( "#id_switch" ).change(function() {
        var sw = $( "#id_switch" ).val(); 
        x = sw.split(" ")
        addr = x[0].split(":")
        host = addr[0]
        port = addr[1]
        {% for x in bst_switches %}
            if ("{{x.host}}" == host && "{{x.port}}" == port) {
                {% if x.bst_enable != None %}
                    $("#id_enable").val(({{x.bst_enable}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.send_async_reports != None %}
                    $("#id_send_async_reports").val(({{x.send_async_reports}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.stat_in_percentage != None %}
                    $("#id_stat_in_percentage").val(({{x.stat_in_percentage}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.stat_units_in_cells != None %}
                    $("#id_stat_units_in_cells").val(({{x.stat_units_in_cells}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.snapshot_on_trigger != None %}
                    $("#id_snapshot_on_trigger").val(({{x.snapshot_on_trigger}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.async_full_reports != None %}
                    $("#id_async_full_reports").val(({{x.async_full_reports}} == 1 ? "yes" : "no")).change()
                {% endif %}
                {% if x.collection_interval != None %}
                    $("#id_collection_interval").val("{{x.collection_interval}}")
                {% endif %}
                {% if x.trigger_rate_limit != None %}
                    $("#id_trigger_rate_limit").val("{{x.trigger_rate_limit}}")
                {% endif %}
                {% if x.trigger_rate_limit_interval != None %}
                    $("#id_trigger_rate_limit_interval").val("{{x.trigger_rate_limit_interval}}")
                {% endif %}
            }
        {% endfor %}
    });
  </script>
{% endblock %}
